
.am-whitespace {
    &.am-whitespace-md {
        height: 0;
    }
}
.am-tabs-default-bar-tab-active {
    color: #ff5f16;

}

.am-tabs-default-bar-underline {
    border: none;
    height: 1px;
    background: #ff5f16;
}